.container {
  position: absolute;
  top: 6px;
  right: calc(44px + 6px);
  bottom: 6px;
  left: calc(6px);
  overflow: hidden;
  transition: transform 0.33s cubic-bezier(0.39, 0.27, 0.22, 1.02),
    opacity 0.2s cubic-bezier(0.39, 0.27, 0.22, 1.02);
  transform: translateY(50px) scale(0.98);
  pointer-events: none;
  justify-content: flex-end;
  opacity: 0;
  border-radius: 8px;
  background-color: #fff;
  padding: 16px;
}

.containerVisible {
  transition-duration: 0.3s;
  transform: translateY(0) scale(1);
  pointer-events: all;
  opacity: 1;
}
