.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

.button {
    border-radius: 4px;
    background-color: #eff0f5;
    padding: 8px;
    cursor: pointer;
}

.button:hover{
    background-color: #d4d4dd;
}